<!DOCTYPE html>
<html lang="en">
{{> head}}
<main class="page politica-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #94d4b4">Privacy Policy</h2>
            </div>
            <div class="block-content">
                <div class="faq-item">
                    <h4 class="question">Responsible</h4>
                    <div class="answer">
                        <p>The entity responsible for all matters relating to the processing of personal data will be helseVITA.
                            personal data will be helseVITA.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Purpose</h4>
                    <div class="answer">
                        <p>The data we process will be used to:

                            Provide access service to the contents of the platform.
                            Manage your registration as a registered user.
                            Carry out anonymous statistical reports and measure the traffic of the activity carried out by users on the platform.
                            users on the platform.
                            The data of the interested party will be kept for at least 5 years and 6 months.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Legitimacy</h4>
                    <div class="answer">
                        <p>The legal basis for the processing of your data is the performance of an existing contract to which the data subject is a party or legitimate interest.
                            to which the data subject is a party or legitimate interest.
                            However, consent will be requested for the processing of your personal data in relation to other purposes, such as direct marketing
                            other purposes, such as direct marketing, advertising and commercial communications with users who have not
                            commercial communications carried out with users who have not yet contracted or prospects, profiling
                            prospects, profiling that will result in automated decisions about the user, the transfer of personal data
                            about the user, the transfer of data or in other cases which would not be legitimised by the execution of the
                            performance of the contract or legitimate interest.
                            The transfer of data shall be based on the consent that is requested, without in any case the
                            withdrawal of this consent shall in no case condition the execution of the contract.

                            </p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Addressees</h4>
                    <div class="answer">
                        <p>helseVITA may disclose the data subject's personal data to:

                            External service providers who process personal data on behalf of Sanitas that are incorporated into this
                            are incorporated into this project.

                            Companies of the helseVITA Group.

                            Other third parties to the extent necessary to: (i) comply with administrative requirements,
                            (ii) to prevent unlawful use of our websites and applications, or to prevent infringements of our
                            (ii) prevent unlawful use of our websites and applications, or violation of our terms of use and guidelines;
                            (iii) defend against third party claims; and (iv) assist in the prevention or investigation of fraud.
                            investigation of fraud.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}
</html>